.sortable {
  cursor: pointer;
  user-select: none;
}

.sort-icon {
  margin-left: 4px;
  font-size: 12px;
  color: 999;
}

.sortable:hover .sort-icon {
  color: 000;
}

.sortable:hover {
  text-decoration: underline;
}